<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arkloydanenias_ceng319_lab1_ex1">

    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="30" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LAB1_EX2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.arkloydanenias_ceng319_lab1_ex1.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.arkloydanenias_ceng319_lab1_ex1.AIActivity" />
        <activity android:name="com.example.arkloydanenias_ceng319_lab1_ex1.VRActivity" />
    </application>

</manifest>